.continent_options_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  margin-bottom: 0;
  flex-wrap: wrap;
  padding: 1rem 0;
  border-radius: 5px;
}
.continent_options_menu li {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.4rem;
  color: var(--color-main);
}
.continent_options_menu li:hover {
  background-color: var(--color-secondary);
  color: var(--color-font);
}
