.app {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}
.Abhaya_Libre {
  font-family: "Abhaya Libre", serif;
}
.Patua_One {
  font-family: "Patua One", cursive;
}
.ABeeZee {
  font-family: "ABeeZee", sans-serif;
}
li {
  font-family: "Abhaya Libre", serif;
}
button {
  font-family: "ABeeZee", sans-serif;
}
