:root {
  --color-font: rgb(243, 239, 224);
  --color-secondary: rgb(67, 66, 66);
  --color-main: rgb(34, 34, 34);
  --color-accent: rgb(34, 163, 159);
  --color-highlight: #4c9eb5;
}
body {
  background-color: var(--color-main);
}
.app {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}
.Abhaya_Libre {
  font-family: "Abhaya Libre", serif;
}
.Patua_One {
  font-family: "Patua One", cursive;
}
.ABeeZee {
  font-family: "ABeeZee", sans-serif;
}
li {
  font-family: "Abhaya Libre", serif;
  color: var(--font-color);
}
button {
  font-family: "ABeeZee", sans-serif;
  color: var(--font-color);
  color: var(--color-font);
}
