:root {
  --ocean-blue: rgb(0, 94, 184);
  --burnt-amber: rgb(184, 69, 9);
  --light-blue: #4c9eb5;
  --beige: #e7b68f;
  --light-amber: #e87f54;
  --font-color: whitesmoke;
}
.app {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}
.Abhaya_Libre {
  font-family: "Abhaya Libre", serif;
}
.Patua_One {
  font-family: "Patua One", cursive;
}
.ABeeZee {
  font-family: "ABeeZee", sans-serif;
}
li {
  font-family: "Abhaya Libre", serif;
  color: var(--font-color);
}
button {
  font-family: "ABeeZee", sans-serif;
  color: var(--font-color);
}
